<style>
    .common-style{
background:rgb(80, 200, 0);
 margin:2px;
 padding:5px;
 border-radius:10px;
 font-size:32px; 
 font-family:Arial;
 font-weight:100px;
 font-style: oblique;
 color:blue" 
    }
    </style>
